# ---- Global ----
.DS_Store
.idea/
*.iml
*.log
*.tmp
*.swp

# ---- Backend (Spring Boot) ----
/backend/target/
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/.mvn/wrapper/maven-wrapper.properties
/backend/.env
/backend/.classpath
/backend/.project

# Maven
**/target/
**/out/
**/.classpath
**/.project
**/.settings/

# ---- Frontend (React + Vite) ----
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.vite/
frontend/.eslintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor files
.vscode/
